
<!-- <html lang="en">
<head>
  <meta charset="utf-8">
  <title>DevFolio Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  Favicons
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Bootstrap CSS File -->
  <!-- <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Libraries CSS Files -->
  <!-- <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet"> -->
  <!-- <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet"> -->
  <!-- <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet"> -->

  <!-- Main Stylesheet File -->
  <!-- <link href="css/style-green.css" rel="stylesheet"> -->

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
<!-- </head> -->

<body id="page-top" data-bs-spy="scroll" data-bs-target="#navbarDefault" class="scrollspy-example" tabindex="0">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-dark navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#page-top">WebResume</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <!-- <li class="nav-item" *ngFor="let item of ( 'menu' | translate ); let index">
            <a class="nav-link js-scroll" [href]="'#' + (item | lowercase | addUnderscore)">{{ item }}</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#home">{{ 'menu.0' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">{{ 'menu.1' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#work">{{ 'menu.2' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education">{{ 'menu.3' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">{{ 'menu.4' | translate}}</a>
          </li>
          <li class="nav-item langbtn">
            <a class="nav-link" (click)="setLang()">{{ lang[lang_to_set] }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->
  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" [ngStyle]="{ 'background-image': 'url(' + images['img-background'] + ')'}">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell position-relative">
        <div class="iam container position-absolute bottom-10 start-50 translate-middle-x">
          <h1 class="intro-title mt-4">{{ 'iam' | translate }}</h1>
          <p class="intro-subtitle"><ngtypewriter [StringList]=" 'listiam' | translate" [speed]='800'></ngtypewriter></p>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <!-- <div [id]=" 'menu.1' | translate | lowercase | addUnderscore" class="about-mf sect-pt4 route"> -->
  <div id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img [src]=" images['profile'] " class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">{{ 'text.name' | translate }}</span> <span> {{ 'about.name' | translate }} </span></p>
                      <p><span class="title-s">{{ 'text.profile' | translate }}</span> <span>{{ 'about.profile' | translate }}</span></p>
                      <p><span class="title-s">{{ 'text.email' | translate }}</span> <span>{{ 'about.email' | translate }}</span></p>
                      <p><span class="title-s">{{ 'text.phone' | translate }}</span> <span>{{ 'about.phone' | translate }}</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">{{ 'text.skills' | translate }}</p>
                  <div *ngFor="let skill of skills">
                    <span>{{skill.title}}</span> <span class="pull-right"> {{skill.value}}%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" [style.width]="skill.value+'%'" [attr.aria-valuenow]="skill.value" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      {{ 'text.aboutme' | translate }}
                    </h5>
                  </div>
                  <p class="lead" *ngFor="let item of ('about.introduction' | translate | transformIntro)">
                    {{ item }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Services Star /-->
  <section id="work" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              {{ 'text.work' | translate }}
            </h3>
            <!-- <p class="subtitle-a">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p> -->
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center row-cols-auto">
        <div class="col d-flex align-items-stretch" *ngFor="let work of ( 'work' | translate ); let i = index">
          <div class="service-box " style="width: 30rem;" (click)="openDialog(i)">
            <div class="service-ico">
              <span class="ico-circle"><ion-icon class="mt-3" [name]="work.icon"></ion-icon></span>
            </div>
            <div class="service-content">
              <h2 class="s-title"><b>{{ work.title }}</b></h2>
              <h3 class="ss-title">{{ 'text.at' | translate }}<b>{{ work.company }}</b></h3>
              <h5>{{ 'text.description' | translate}}</h5>
              <p class="s-description text-justify" *ngFor="let work of (work.description | truncate:[150,'...'] | transformIntro)">
                {{ work }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

  <div id="education" class="section-counter paralax-mf bg-image" [ngStyle]="{ 'background-image': 'url(' + images['img-education'] + ')'}">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row justify-content-center row-cols-auto">
        <div class="col d-flex align-items-stretch" *ngFor="let education of ( 'education' | translate )">
          <div class="card my-2" style="width: 18rem;">
            <img mat-card-sm-image style="height: 8rem;" class="img_education" [src]="education.picture" >
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ education.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted"><b>{{ education.school }}</b></h6>
              <h6 class="card-subtitle mb-2 text-muted mt-auto">{{ education.date }}</h6>
              <p class="card-text">{{ education.location }}</p>
              <a [href]="education.link" target="_blank" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Portfolio Star /-->
  <section id="portfolio" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center row-cols-auto">
        <div class="col d-flex align-items-stretch" *ngFor="let project of ( 'project' | translate )">
          <div class="work-box" style="width: 25rem;">
            <div class="work-img">
              <img [src]="project.img" style="object-fit: cover;" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">{{ project.title }}</h2>
                  <div class="w-more">
                    <span class="w-ctegory mt-auto">{{ project.type }}</span> / <span class="w-date">{{ project.date }}</span>
                  </div>
                </div>
                <!-- <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" [ngStyle]="{ 'background-image': 'url(' + images['img-contact'] + ')'}">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
          <div class="contact-mf mw-50">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      {{ 'text.send_message2us' | translate }}
                    </h5>
                  </div>
                  <div>
                      <form onsubmit="SendMessage()" role="form" class="contactForm">
                      <div id="sendmessage"> {{ 'text.succed_message' | translate }} </div>
                      <div id="errormessage"></div>
                      <div class="row" formGroupName="messageForm">
                        <div class="col-md-12 mb-3">
                          <input type="text" name="name" class="form-control" formControlName="name" id="name" [attr.placeholder]="('text.your_name' | translate)" />
                          <div class="validation" *ngIf="this.messageForm.errors['name'] || this.messageForm.controls.name.touched">{{ 'text.error_name' | translate }}</div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <input type="email" class="form-control" formControlName="email" name="email" id="email" [attr.placeholder]="('text.email' | translate)" />
                          <div class="validation" *ngIf="?this.messageForm.errors['email'] || this.messageForm.controls.email.touched">{{ 'text.error_email' | translate }}</div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <input type="text" formControlName="subject" class="form-control" name="subject" id="subject" [attr.placeholder]="('text.subject' | translate)"/>
                            <div class="validation" *ngIf="?this.messageForm.errors['subject'] || this.messageForm.controls.subject.touched">{{ 'text.error_subject' | translate }}</div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <textarea class="form-control" formControlName="message" name="message" rows="5" [attr.placeholder]="('text.message' | translate)"></textarea>
                          <div class="validation" *ngIf="?this.messageForm.errors['message'] || this.messageForm.controls.message.touched">{{ 'text.error_message' | translate }}</div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">{{ ('text.send_message' | translate) }}</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
                      expedita aperiam aliquid at.
                      Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                      mollitia inventore?
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> </li>
                      <li><span class="ion-ios-telephone"></span> (617) 557-0089</li>
                      <li><span class="ion-email"></span> contact@example.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>
                    </ul>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <!-- <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p> -->
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top" id="back-to-top"><i class="fa fa-chevron-up"></i></a>
